.cta{
    background-color:white;
    color:black;
    border:1px solid black;
    font-weight:bold;
    padding:5px 15px;
    width:75%;
    box-shadow:3px 3px 0 black;
    transition:all 500ms;
}

.hover-class{
    background-color:black;
    color:white;
    border:1px solid white;
    letter-spacing:2px;
    text-decoration:none;
}

.buttonWrapper{
    margin:10px 0;
}