header{
    background-color:#282828;
}

.navbar-collapse{
    /* background-color:#282828; */
    padding:15px;
}

.navbar-toggler{
   float:right;
}

nav{
    color:white;
}

.nav-link{
    cursor:pointer;
    display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.nav-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
  }

  .nav-link:hover:after {
    width: 100%;
    background:white;
  }

.navbar-brand{
    cursor:pointer;
}

.menu-icons{
    margin:0 10px;
    color:white;
    font-size:22px;
    transition:all 200ms;
}

.menu-icons:hover{
    color:#DFDFDF;
    transition:all 200ms;
}

.navbar-brand{
    font-weight:bold;
}

.menu-icons-wrap{
    position:absolute;
    right:10px;
}

@media (max-width:768px){
    .menu-icons-wrap{
        position:relative;    
    }
}