.about-me{
    background-color:white;
    border:2px solid black;
    box-shadow:4px 4px 0 black;
    margin:50px;
    height:100%;
}

.about-me-picture{
   background-position:top;
   background-size:cover;
    height:100%;
    min-height:400px;
}